
h4 {
    margin: 0 10px 0 0;
}

#App {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    overflow: auto;
    color: #dfe6e9;
}

#polaris-logo {
    width: 150px;
    height: 25px;
}

#react-logo {
    animation: react-logo-spin infinite 20s linear;
    height: 40px;
}

@keyframes react-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

#App-header {
    background-color: #222222;
    box-sizing: border-box;
    /*min-height: 50px !important;*/
    height: 3.75em;
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    z-index: 20;
}

#App-body {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
    flex-grow: 5;
}

#control-panel {
    background-color: #636e72; /* #8a8b8d;*/
    width: 20%;
    min-width: 200px;
    flex-grow: 1;
    z-index: 10;
}

#open-close-panel {
    display: none;
}

#map-container {
    background-color: #b2bec3;
    width: 80%;
    flex-grow: 4;
    z-index: 9;
    color: black;
}

.legend {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    height: 60%;
    z-index: 12;
}

.legend div {
    width: 0.75em;
    height: 18%;
    margin: 0 auto;
}

.legend p {
    display: inline-block;
    font-size: 0.7em;
    font-weight: bold;
    text-align: center;
}

.hidden {
    visibility: hidden;
    z-index: 0;
}

.flexDefault {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}


.toggle {
    margin: 10px auto;
    padding: 0 0.75em;
    min-width: 200px;
    box-sizing: border-box;
}

.select {
    margin: 10px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
}

.btn-option:hover {
    background-color: #454c4e !important;
    border-color: #454c4e !important;
}

.button {
    margin: 10px auto;
    padding: 0 0.75em;
    width: 150px;
    height: 30px;
    background-color: #0984e3; /*#2a57ab;*/
    color: #dfe6e9;
    font-size: 1em;
    border-radius: 5px;
    border: solid #2d3436 1px;
    text-align: center;
    cursor: pointer;
}

.button img {
    height: 100%;
    transition: transform 0.5s step-end;
}

.loading {
    position: fixed;
    z-index: 100000;
    width: 6em;
    margin-left: -3em;
    top: 50%;
    left: 50%;
    color: #0984e3;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
}

.loading > div {
    margin-left: -35px;
}

.alert-box {
    position: fixed;
    bottom: 20px;
    left: 50%;
    width: 50%;
    height: 3em;
    box-sizing: border-box;
    padding: 1em 0;
    text-align: center;
    color: #dfe6e9;
    margin: 0 0 0 -25%;
    border: 2px solid;
    border-radius: 5px;
    z-index: 19;
}

.success {
    background-color: rgba(47, 204, 112, 0.7);
    border-color: #2fcc70;
}

.error {
    background-color: rgba(232, 76, 61, 0.7);
    border-color: #e84c3d;
}

.warning {
    background-color: rgba(241, 196, 15, 0.7);
    border-color: #f1c40f;
}

.veryBold {
    font-weight: 700;
}

.down > img {
    transform: rotate(90deg);
}

.up > img {
    transform: rotate(-90deg);
}

@media only screen and (max-width: 999px) {
    #polaris-logo {
        width: 90px;
        height: 15px;
    }

    #control-panel {
        background-color: rgba(99, 110, 114, 0.92);
        position: fixed;
        width: 100%;
        padding-top: 30px;
        box-sizing: border-box;
        transition: all 0.5s linear;
    }

    #open-close-panel {
        display: inline;
        position: fixed;
        top: 60px;
        left: 50%;
        margin: 0 0 0 -35px;
        z-index: 11;
        width: 70px;
        border-radius: 0 0 25px 25px;
    }

    .hidden-panel {
        top: -70% !important;
        /*bottom: 100% !important;*/
    }

    .open-panel {
        top: 60px !important;
        /*bottom: calc(80% - 60px) !important;*/
    }

    .alert-box {
        position: fixed;
        bottom: 50px;
        left: 0;
        width: 100%;
        margin: 0;
    }
}
