#App {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    /*align-items: stretch;*/
}

#polaris-logo {
    width: 250px;
    height: 40px;
}

#react-logo {
    animation: react-logo-spin infinite 20s linear;
    height: 60px;
}

@keyframes react-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

#App-header {
    background-color: #222;
    box-sizing: border-box;
    height: 75px;
    width: 100%;
    padding: 10px;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#control-panel {
    background-color: gray;
    width: 20%;
    /*height: auto;*/
    min-height: 600px;
    /*flex-grow: 1;*/
}

#map-container {
    background-color: lightgray;
    width: 80%;
    /*height: auto;*/
    min-height: 600px;
    /*flex-grow: 1;*/
}

