#App {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    overflow: auto;
}

#polaris-logo {
    width: 150px;
    height: 25px;
}

#react-logo {
    animation: react-logo-spin infinite 20s linear;
    height: 40px;
}

@keyframes react-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

#App-header {
    background-color: #222;
    box-sizing: border-box;
    min-height: 50px !important;
    height: 60px;
    width: 100%;
    padding: 0 10px;
    color: #e4e4e4;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
}

#App-body {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
    flex-grow: 5;
}

#control-panel {
    background-color: #8a8b8d;/*gray;*/
    width: 20%;
    min-width: 200px;
    min-height: 300px;
    flex-grow: 1;
}

#map-container {
    background-color: #e4e4e4;
    width: 80%;
    min-height: 400px;
    flex-grow: 4;
}

.toggle, .select {
    margin: 10px auto;
    min-width: 200px;
}

.button {
    margin: 10px auto;
    width: 150px;
    height: 30px;
    background-color: #2a57ab;
    color: #e4e4e4;
    font-size: 1em;
    border-radius: 15px;
    border: solid black 1px;
    text-align: center;
    cursor: pointer;
}

/*TODO: keep loading from getting zoom focus*/
.loading {
    position: fixed;
    z-index: 100000;
    width: 200px;
    height: 150px;
    margin: -75px 0 0 -100px;
    top: 50%;
    left: 50%;
    color: #2a57ab;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.hidden {
    display: none;
    z-index: 0;
}

.flexDefault {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.alert-box {
    width: 100%;
    height: 3em;
    box-sizing: border-box;
    padding: 1em 0;
    text-align: center;
    color: #e4e4e4;
    margin: 30px 0 0 0;
    border: 2px solid;
    border-radius: 5px;
    /*TODO: get alert box to stay at the bottom*/
    /*font-size: 1em;*/
    /*align-self: flex-end;*/
    /*margin-top: auto;*/
}

.success {
    background-color: #2fcc70b3;
    border-color: #2fcc70;
}

.error {
    background-color: #e84c3db3;
    border-color: #e84c3d;
}

.warning {
    background-color: #f1c40fb3;
    border-color: #f1c40f;
}

div.Select-control {
    background-color: #5d5d5d !important;
    color: #e4e4e4 !important;
    border-radius: 5px;
    border-color: #2a57ab !important;
}

.Select-value-label, div.Select-option, .Select-menu-outer {
    color: #e4e4e4 !important;
    background-color: #5d5d5d !important;
    border-color: #2a57ab !important;
}

.Select-menu-outer div:hover {
    background-color: #3c9aff !important;
}

.veryBold {
    font-weight: 700;
}

h4 {
    margin: 0 10px 0 0;
}

/*#365ba5*/
